<!-- Portfolio section -->
<section id="tmPortfolio">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">

        <div class="tm-extra-service-description">
          <%- extra_service_page.html_content %>
        </div>

        </div>  
      </div>
    </div>
</section>