<!-- TODO Needs own dedicated css files, also template the areas in own DB list with dedicated own pages as posibility or optional -->

<div style="color: white;">
  <!-- <h2>Test</h2> -->
  <div style="width: fit-content; margin: 0 auto; display: block;">
    <h2><%=locals.index_page_data.areas_section[0].h2_1%></h2>
    <ul style="text-decoration: none;">
      <li>Chomedey</li>
      <li>Duvernay</li>
      <li>Saint-Vincent-de-Paul</li>
      <li>Pont-Viau</li>
      <li>Laval-Ouest</li>
      <li>Sainte-Dorothée</li>
      <li>Sainte-Rose</li>
      <li>Fabreville</li>
      <li>Auteuil</li>
      <li>Vieux-Sainte-Rose</li>
      <li>Côte-des-Perron</li>
      <li>Bélanger</li>
      <li>Cap-Saint-Martin</li>
      <li>Domaine du Bois</li>
      <li>Champfleury</li>
    </ul>
  </div>

</div>