<!-- TODO figure out the keywords of other brands that would help to rank highter -->
<div style="display: none;">
  <% locals.index_page_data.hidden_section[0].keywords.forEach(keyword => { %>
    <p><strong><%= keyword %></strong></p>
  <% }) %>
</div>

<!-- TODO Needs own dedicated css files, also template the areas in own DB list with dedicated own pages as posibility or optional -->