  <!-- PART 1 -->
  <div class="container-fluid tm-brand-container-outer">
    <div class="row">
      <div class="col-12">
  
  
        <div class="ml-auto mr-0 tm-bg-black-transparent text-white tm-brand-container-inner">
          <div class="tm-brand-container text-center">
              <h1 class="tm-brand-name long-title"><%= all_data_per_page_fr.title %></h1> 🇨🇦
              <p class="tm-brand-description"><%= all_data_per_page_fr.under_h1 %></p>
            <a target="_blank" class="animated-text blue mb-0" href="https://calendly.com/drywallkingston/30min"><%= nav_fr.op2 %></a>
          </div>
        </div>
  
      </div>
    </div>
  
  </div>