<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Site is being built</title>
</head>
<body>
  <p>
    This website is undergoing development, and will soon be released around December 2024. Thank you for your understanding
  </p>
</body>
</html>