<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL not set</title>

  <script>
    console.log('Production:', '<%= locals.production %>');
    console.log('Env:', '<%= locals.env %>');
  </script>
  
  <% if (locals.env === locals.production) { %>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-JQV6YL1341"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-JQV6YL1341');
  </script>
  <% } %>

  <meta http-equiv="content-language" content="en">
</head>
<body>
  <h1>URL not set</h1>
</body>
</html>