div#content-template img {
  display: block;
  margin: 40px auto;
  border-radius: 10px;
}

span.category-template {
  /* background-color: blueviolet; */
  background-color: rgb(207, 34, 34);
  color: white;
  padding: 4px 14px;
  border-radius: 20px;
  display: inline-block;
  margin: 10px 0;
}

div#bar1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div#dates {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}



@media screen and (max-width: 710px) {
  div#content-template img {
    width: 90%;
    height: auto;
  }
}


div#content-template h2 {
  margin: 2.3rem 0 1.3rem 0;
}

div#content-template h3 {
  margin: 1.7rem 0;
}


div#content-template p {
  letter-spacing: 0.4px;
}

div#blog-posting {
  margin: 0 0 80px 0;
}