/* Select the third occurrence of the matched div */
section#tmPortfolio .tm-portfolio-item:nth-of-type(1) .tm-portfolio-name {
  background-image: url('../img/drywall-finishing-and-texturing.avif');
}

