/* Select the third occurrence of the matched div */
section#tmPortfolio .tm-portfolio-item:nth-of-type(1) .tm-portfolio-name {
  background-image: url('../img/pavage-residentiel-et-commercial.webp');
}

/* Select the third occurrence of the matched div */
section#tmPortfolio .tm-portfolio-item:nth-of-type(2) .tm-portfolio-name {
  background-image: url('../img/renovation-de-pavage-enlevement-de-asphalte-existante.webp');
}

/* Select the third occurrence of the matched div */
section#tmPortfolio .tm-portfolio-item:nth-of-type(3) .tm-portfolio-name {
  background-image: url('../img/revetement_en_asphalte_1.webp');
}




section#tmPortfolio .tm-portfolio-item .tm-portfolio-name {
  border-radius: 15px;
}
