div.tm-welcome-left a {
  color: white;
}

div.tm-welcome-left a:nth-of-type(2) {
  text-decoration: underline;
}

h2.tm-welcome-title {
  color: white;
}

span.tm-welcome-title {
  color: white;
  font-size: 2rem;
  line-height: 1.2;
  display: block;
}


@keyframes bookacall_red {
  0% {
    color: #ffa500
  }

  50% {
    color: white;
  }

  100% {
    color: orange;
  }
}


section#tmWelcome .animated-text.blue {
  animation: bookacall_red 2.5s infinite;
}




div.tm-welcome-left-col a {
  white-space: pre-line;
  display: block;
}




div.tm-welcome-right {
  background-image: url('../img/map1_op.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}