<link rel="stylesheet" href="/css/all.min.css" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/templatemo-style.css" />
<link rel="stylesheet" href="/css/nav-style.css" />
<link rel="stylesheet" href="/css/welcome-section.css" />
<link rel="stylesheet" href="/css/footer-style.css" />



<% if (req_path === '/' || req_path === '/en') { %>

  <link rel="stylesheet" href="/css/portfolio-section.css" />
  <link rel="stylesheet" href="/css/review-section.css" />
  <link rel="stylesheet" href="/css/faq-style.css" />

<% } else if (req_path === '/demande-de-devis-gratuit' || req_path === '/request-a-free-quote/en') { %>

  <link rel="stylesheet" href="/css/demande-de-devis-gratuit.css" />


<% } else if (req_path === '/organisation' || req_path === '/organization/en') { %>

  <link rel="stylesheet" href="/css/organization.css" />



<% } else if (req_path === '/a-propos' || req_path === '/about/en') { %>





<% } else if (req_path === '/service/pavage-residentiel-et-commercial-a-gatineau') { %>
  <link rel="stylesheet" href="/css/pavage-residentiel-et-commercial.css" />

<% } else if (req_path === '/service/revetement-maintenance-en-asphalte-gatineau') { %>

  <link rel="stylesheet" href="/css/revetement-en-asphalte.css" />



<% } else if (req_path === '/service/travaux-en-beton-residentiel-et-commercial-a-gatineau') { %>

  <link rel="stylesheet" href="/css/travaux-en-beton-residentiel-et-commercial.css" />


<% } else if (req_path.startsWith('/service')) { %>

  <link rel="stylesheet" href="/css/page-de-services-supplementaires-seo.css" />




<% } else if (/^\/blog\/[^\/]+\/blog-posting\/[^\/]+$/.test(req_path)) { %>

  <link rel="stylesheet" href="/css/blog-posting.css" />




<% } else if (req_path === '/blog') { %>


  
<% } else if (req_path.startsWith('/blog')) { %>




<% } else if (req_path === '/plan-du-site') { %>




<% } else if (req_path === '/tiroir1/mention-legale') { %>

  <link rel="stylesheet" href="/css/mention-legale.css" />


<% } else if (req_path === '/tiroir1/politique-de-confidentialite') { %>

  <link rel="stylesheet" href="/css/mention-legale.css" />


<% } else { %>

  <!-- <p>Status is unknown.</p> -->

<% } %>

