<link rel="stylesheet" href="/css/all.min.css" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/templatemo-style.css" />
<link rel="stylesheet" href="/css/nav-style.css" />
<link rel="stylesheet" href="/css/welcome-section.css" />
<link rel="stylesheet" href="/css/footer-style.css" />



<% if (req_path === '/') { %>

  <link rel="stylesheet" href="/css/portfolio-section.css" />
  <link rel="stylesheet" href="/css/review-section.css" />
  <link rel="stylesheet" href="/css/faq-style.css" />

<% } else if (req_path === '/demande-de-devis-gratuit') { %>

  <link rel="stylesheet" href="/css/demande-de-devis-gratuit.css" />

<% } else if (req_path === '/organisation') { %>

  <link rel="stylesheet" href="/css/organization.css" />

<% } else { %>

  <p>Status is unknown.</p>

<% } %>

