<link rel="stylesheet" href="/css/all.min.css" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/templatemo-style.css" />
<link rel="stylesheet" href="/css/nav-style.css" />
<link rel="stylesheet" href="/css/welcome-section.css" />
<link rel="stylesheet" href="/css/footer-style.css" />



<% if (req_path === '/') { %>

  <link rel="stylesheet" href="/css/portfolio-section.css" />
  <link rel="stylesheet" href="/css/review-section.css" />
  <link rel="stylesheet" href="/css/faq-style.css" />

<% } else if (req_path === '/demande-de-devis-gratuit') { %>

  <link rel="stylesheet" href="/css/demande-de-devis-gratuit.css" />

<% } else if (req_path === '/organisation') { %>

  <link rel="stylesheet" href="/css/organization.css" />

<% } else if (req_path === '/a-propos') { %>

  
<% } else if (req_path === '/service/pavage-residentiel-et-commercial') { %>
  <link rel="stylesheet" href="/css/pavage-residentiel-et-commercial.css" />

<% } else if (req_path === '/service/revetement-maintenance-en-asphalte-gatineau') { %>

  <link rel="stylesheet" href="/css/revetement-en-asphalte.css" />



<% } else if (req_path === '/service/travaux-en-beton-residentiel-et-commercial') { %>
  
  <link rel="stylesheet" href="/css/travaux-en-beton-residentiel-et-commercial.css" />

<% } else { %>

  <p>Status is unknown.</p>

<% } %>

