#faq-element {
  padding: 40px;
}

#faq-element h2 {
  font-size: 1.8em;
  color: #222;
  text-align: center;
  margin-bottom: 25px;
  color: white;
}

details {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  overflow: hidden;
}

summary {
  font-size: 1.3em;
  font-weight: normal;
  color: #444;
  padding: 10px;
  cursor: pointer;
  background-color: #e9e9e9;
  border-bottom: 1px solid #ccc;
}

summary:hover {
  background-color: #7777ab;
  color: white;
}

details[open] summary {
  background-color: #7777ab;
  font-weight: bold;
  color: white;
}

div[itemprop="acceptedAnswer"] {
  padding: 15px;
  background-color: #fafafa;
  color: #333;
  font-size: 1.1em;
  line-height: 1.6;
}



div#faq-element > div > div > p {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 15px;
  color: #333;
  font-size: 1.1em;
  line-height: 1.6;
}