
/* Ensure full height of the viewport */
html, body {
  height: 100%;
  margin: 0;
}

/* Flex container for body with column direction */
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* The nav and footer don't grow or shrink */
nav#top, footer {
  flex: 0 0 auto;
}

/* The #body div takes up the remaining space */
#body {
  flex-grow: 1;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

body > nav + * {
  flex-grow: 1;
}



main#body {
  padding: 80px;
  margin: 8px;
}

@media (max-width: 1232px) {
    main#body {
    padding: 60px;
  }
}

@media (max-width: 520px) {
  main#body {
    padding: 50px;
  }
}

@media (max-width: 390px) {
  main#body {
    padding: 40px 20px 10px;
  }
}



div[itemtype="https://schema.org/Organization"] > a {
  white-space: pre-line;
}