#page-content {
  max-width: 1200px;
  font-family: 'Arial', sans-serif; /* Default font */
  margin: 88px auto;
  background-color: #9999cc;
  color: white;
}

div.padding1 {
  padding: 67px 63px;
}

div.padding1 a{
  color: white;
  text-decoration: underline;
}

div.padding1 a:hover{
  color: #7070c8;
  font-weight: bold;
}

