<% if (req_path === '/') { %>


  <title><%= all_data_per_page_fr.title %></title>
  <meta name="title" content="<%= all_data_per_page_fr.title %>">
  <meta name="description" content="<%= all_data_per_page_fr.description %>">
  <link rel="canonical" href='/'>

<% } else if (req_path === '/demande-de-devis-gratuit') { %>

  <title>Demande de devis gratuit</title>
  <meta name="title" content="Demande de devis gratuit">
  <meta name="description" content="Obtenez un devis gratuit et sans engagement pour vos travaux de pavage, asphalte ou béton à Gatineau. Remplissez notre formulaire simple pour recevoir une estimation adaptée à vos besoins résidentiels ou commerciaux.">
  <link rel="canonical" href='/demande-de-devis-gratuit'>


<% } else if (req_path === 'pending') { %>
  <p>Status is pending.</p>
<% } else { %>
  <p>Status is unknown.</p>
<% } %>